streamlit
keras
tensorflow
langchain 
langchain_community
langchain_huggingface
huggingface_hub 
onnxruntime==1.17.1
unstructured[pdf] # Document loading
chromadb==0.5.0 # Vector storage
tiktoken==0.7.0  # For embeddings 
tqdm
torch
transformers<4.45.0
